---
layout: feature
title: GitLab Continuous Delivery
description: "Learn about GitLab's Continuous Delivery to achieve faster, secure and progressive deployments."
suppress_header: true
canonical_path: "/stages-devops-lifecycle/continuous-delivery/"
extra_css:
  - comparison-page-v2.css
  - solutions-v3.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

.blank-header.blank-header-has-gradient
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content.text-center
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab Continuous Delivery (CD)
    %p
      Streamline and Automate your application release process to make software delivery repeatable and on-demand.
    = link_to "Mastering Continuous Software Development Webcast", "/webcast/mastering-ci-cd/", class: "btn cta-btn orange"

.sub-wrapper

  .content-container.padding-vertical0.white-bg.container{:id=>"gitlab-continuous-delivery"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/cd/what-is-gitlab-cd.html.haml')

    .wrapper.wrapper--large-fonts
      .wrapper.container.js-in-page-nav-group{role: "main"}
        .row.u-margin-top-lg.js-in-page-nav-section#why-gitlab-for-cd
          .col-md-10.col-md-offset-1
            %h2.u-text-brand.text-center Why GitLab for Continuous Delivery?

            = partial('/includes/solutions/cd/unified-deployment.html.haml')
            = partial('/includes/solutions/cd/auto-devops.html.haml')
            = partial('/includes/solutions/cd/multi-cloud.html.haml')
            = partial('/includes/solutions/cd/modern-compliance.html.haml')



  .content-container.padding-vertical0.grey-bg.container{:id=>"continuous-delivery-cdra2020"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/cd/cdra2020.html.haml')

  .content-container.padding-vertical0.white-bg.container{:id=>"continuous-delivery-blogs"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/cd/cd-blog.html.haml')


  .content-container.padding-vertical0.white-bg.container{:id=>"continuous-delivery-happy-customers"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/cd/glympse-quote.html.haml')

  .content-container.padding-vertical0.white-bg.container{:id=>"continuous-delivery-case-studies"}
    / ----- This creates the Case Studies Carousel  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.cd.case_studies
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.white-bg.container{:id=>"continuous-delivery-gartner-reviews"}
    / ----- This creates the Gartner Peer Insights  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.cd.gartner_peer_insights
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
